html {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto;
}

.Title {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem auto 2.5rem auto;
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 150px;
    background: #ff6a00;
    margin: 0 auto;
    margin-top: 0.6rem;
  }
}

.Select {
  display: block;
  select {
    border: 1px dotted #5a5a5a;
    width: 100%;
    padding: 0.8rem 1.5rem;
    margin-bottom: 2rem;
  }
}

.Function,
.Intro {
  margin-bottom: 1rem;

  .wrapper {
    border: 1px dotted #5a5a5a;
    display: inline-block;
    padding: 2rem;
    display: grid;

    > .title {
      font-weight: bold;
      margin-bottom: 0.6rem;
      &:after {
        content: "";
        display: block;
        background: #ff6a00;
        height: 2px;
        width: 20px;
        margin-top: 5px;
      }
    }
    > .desc {
      margin-bottom: 1rem;
      max-width: 600px;
      line-height: 1.5;
    }
    > span {
      margin-bottom: 2rem;
      display: block;
      h4 {
        display: inline-block;
        font-weight: 500;
        margin-right: 0.5rem;
      }
    }
    .link {
      text-decoration: none;
      padding: 0.6rem 1rem;
      background: #b1b1b1;
      color: white;
      text-align: center;
      transition: 0.3s;
      &:hover {
        background: #fb94a6;
      }
    }

    > .control {
      .input {
        display: grid;
        input {
          padding: 0.8rem 1.5rem;
          margin-bottom: 0.5rem;
        }
      }
      .btns {
        display: flex;
        .btn {
          cursor: pointer;
          flex: 1;
          color: white;
          font-weight: 500;
          border: none;
          padding: 0.8rem;
          &.exe {
            background: #28a745;
          }
          &.res {
            background: #ffc107;
          }
        }
      }
    }
  }
}
